.position{
    position: relative;
    float: left;
}
.positionButton{
    position: relative;
    float: right;
}
.width{
    width: 90%;
}
.widthx{
    width: 100%;
}
.borderx{
    
    border: 2px solid #C9141A;
}