.position{
    position: relative;
    float: left;
}
.positionButton{
    position: relative;
    float: right;
}

.width{
    width: 90%;
}
.widthx{
    width: 100%;
}
.borderx{
    border: 2px solid #C9141A;
}
.containerComment {
    text-align: left;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin: 10px 0;
}
h3{
    width: 75%;

}
.column {
    float: left;
    width: 20%;
}
.column2 {
    float: left;
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.avatar-image {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.username-style{
    color: #e8403d;
    font-family: fantasy;
    font-size: smaller;
}
