<div class="card" >
    <div class="card-header card-header-danger mat-dialog-title">
        <h3 class="card-title ">{{data.post.titre}}</h3><button mat-icon-button [matMenuTriggerFor]="aboveMenu" class="pull-right">
            <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item (click)="openModifyDialog(data.post)" >Edit</button>
        <button mat-menu-item (click)="deletePost(data.post)" >Delete</button>
        </mat-menu>
    </div>
    <div class="card-body">
        <h4>Description :</h4>
        <h5>{{ data.post.description}}</h5> 
    </div>
    <div class="mat-card-actions">
        <div class="pull-right">
        
        </div>  
    </div>
</div>
